h1 {
    text-align: center;
}

.links {
    text-align: center;
}

#lasagneImage {
    height: 200px;
    width: auto;
    
}

#smashBurgerTacoImage {
    height: 200px;
    width: auto;
    
}

#veganJamaicanCurryImage {
    height: 200px;
    width: auto;
    
}
